<div class="container">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Operando 1</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input #ope1 nz-input name="email" type="number" id="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Operando 2</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input #ope2 nz-input name="email" type="number" id="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button (click)="sumar(ope1.value,ope2.value)" class="btn btn-success">Calcular</button>
        </nz-form-item>
        <h3>{{resultado}}</h3>
    </form>
</div>