#parentContainer {
    height: 100%;
    background-image: url(../../assets/img/winter-landscape-gcd7010bfd_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}